@charset "utf-8";
/* CSS Document */


body {font-family:Verdana; font-size:14px; margin:0; background:#333; color:#CCC }

a { color:#99ccff; font-family:Verdana; outline:none }
a:hover { color:#FFF }

.input { background:#ededed }

#masthead { width:98.3%; height:100px; border-bottom:1px solid #666 }
#masthead b { font-size:13px; letter-spacing:1px; font-weight:bold; line-height:18px }
#masthead h3 { padding:0; margin:0; line-height:25px; border:none }
#masthead h3 a { font-family:Arial; font-size:18px; color:#99ccff; font-weight:normal; line-height:25px; text-decoration:none }
#masthead h3 a:hover { color:#FFF }
#navlist { padding:0 0 0 26px; height:36px; float:right; margin:0 0 5px 0; display:inline; list-style-type:none; border-top:3px solid #999; border-right:1px solid #333; background:url(img/top_nav_bgr.png) no-repeat top left }
#navlist li { display:inline; padding:0 10px; line-height:36px; border-right:none; border-left:1px solid #EEE }
#navlist li a:link, #navlist li a:visited { color:#333; font-weight:bold; text-decoration:none; font-size:12px }
#navlist li a:hover { color:#000; text-decoration:underline }

#menu li.user-product { margin:0; padding:5px 0 3px 10px; text-indent:-10px; background:url(img/user_product_li_bgr.png) repeat-x top #666; border-bottom:1px solid #666; border-top:1px solid #666 }
#menu li.user-product a { line-height:16px; padding:5px 0 5px 5px; color:#333; font-weight:bold }
#menu li.user-product a:hover { color:#000 }

#menu li.menu-customer { margin:0; padding:5px 0 3px 10px; text-indent:-10px; background:url(img/menu_customer_li_bgr.png) repeat-x right top #999; border-bottom:1px solid #666; border-top:1px solid #FFF }
#menu li.menu-customer:hover { background:url(img/menu_customer_li_bgr2.png) repeat-x right top #999 }

#menu li.menu-customer a { line-height:16px; padding:5px 0 5px 5px; font-weight:bold }

div#menu-fill { height:90%; background:url(img/menu_fill_bgr.png) no-repeat bottom right #666; border:none; padding:0; margin:0; color:#333; position:absolute; top:0; left:0 }

div#menu { background:url(img/menu_bgr.png) repeat-y right #666; border:none; padding:0; color:#333; margin:0px; font-family:Verdana; position:absolute; top:0 }

#menu ul { padding:0; margin:0; list-style:none }
#menu li { padding:0; margin:0; list-style:none }

#menu li a { color:#333; margin:5px; font-weight:normal; padding:0; background:none; text-decoration:none; }
#menu li a:hover { color:#000; text-decoration:none }

#menu li.active-corp { padding:5px; margin:0 }

#menu ul.menu-template { margin:5px 0 0 0; padding:0; border-top:1px solid #999; list-style:none; list-style-type:none }
#menu ul.menu-template li { padding:5px 5px 5px 20px; margin:0; font-size:12px; text-align:left; line-height:16px; list-style:none; list-style-type:none; text-indent:-10px; background:url(img/menu_li_bgr.png) no-repeat top left #ededed; border-top:1px solid #FFF; border-bottom:1px solid #666 }
#menu ul.menu-template li:hover { background:url(img/menu_li_bgr2.png) no-repeat top left #FFF }
#menu ul.menu-template li a { font-weight:normal }

#menu p { margin:10px; padding:0; color:#FFF; font-size:13px; border-bottom:2px solid #666; font-weight:bold }
#menu p.collapsed { margin:10px; padding:0; color:#FFF; font-size:13px; cursor:pointer; border-bottom:2px solid #666; font-weight:bold }

#idMenuProfile, #idMenuImages, #idMenuFileTransfer { margin:0; padding:0; height:23px; line-height:23px; text-indent:5px; background:url(img/menu_customer_li_bgr.png) repeat-x right top #999; border-bottom:1px solid #666; border-top:1px solid #FFF }
#idMenuProfile:hover, #idMenuImages:hover, #idMenuFileTransfer:hover { background:url(img/menu_customer_li_bgr2.png) repeat-x right top #999 }

#menuOrdersUL .order-find input { margin:0 4px }
#menuOrdersUL .order-find .submit { font-size:12px; font-weight:bold; font-family:Verdana; color:#FFF; background:#6699cc; border:1px solid #285b8e }

#menuOrdersUL li { margin:0; padding:0; height:23px; line-height:23px; text-indent:8px; background:url(img/menu_customer_li_bgr.png) repeat-x right top #999; border-bottom:1px solid #666; border-top:1px solid #FFF }
#menuOrdersUL li:hover { background:url(img/menu_customer_li_bgr2.png) repeat-x right top #999 }

#menuBalanceUL li { margin:0; padding:0; height:23px; line-height:23px; text-indent:8px; background:url(img/menu_customer_li_bgr.png) repeat-x right top #999; border-bottom:1px solid #666; border-top:1px solid #FFF }
#menuOrdersUL li:hover { background:url(img/menu_customer_li_bgr2.png) repeat-x right top #999 } 

#menuOrdersUL li span { line-height:23px; letter-spacing:-1px; font-size:10px; font-weight:bold }

#zetaprints1 a { color:#FFF; border:none; text-transform:capitalize }
#zetaprints1 a:hover { color:#FFF; text-decoration:underline }
#menu h2 { border-top:1px solid #cccccc }

#menu div { padding:0; margin:0 }

#feedback { margin:0; padding:0; background:url(img/menu_customer_li_bgr.png) repeat-x right top #999; border-bottom:1px solid #666; border-top:1px solid #FFF }
#feedback li { padding:0; margin:0 }
#feedback span { font-weight:bold; color:#999; line-height:25px }
#feedbackForm textarea { width:170px; height:70px; font-size:10px; margin:4px; float:left }
#feedback input { margin:0 20px 10px 0; font-size:11px; font-family:Verdana; color:#FFF; background:#6699cc; border:1px solid #285b8e }

table.pagination { margin:0; padding:0; width:100%; background:url(img/menu_customer_li_bgr2.png) repeat-x top #999; border:none; border-top:1px solid #999; color:#000 }
table.pagination a { font-size:90%; font-weight:bold; color:#FFF }
table.pagination td { vertical-align:middle; padding:10px 0 }
table.pagination .middle .submit { background-image:url(img/show_btn.png); width:57px; height:24px; font-size:11px; border:none; font-family:Verdana; font-weight:bold; color:#FFF }
table.pagination .left, .right { width:100px }

table.pagination .left a { margin-left:10px; line-height:23px; font-weight:bold; text-decoration:none; font-size:13px; color:#333; text-align:center }
table.pagination .left a:hover { color:#000; text-decoration:underline }
table.pagination .right a { margin-right:10px; line-height:23px; font-weight:bold; text-decoration:none; font-size:13px; color:#333; text-align:center }
table.pagination .right a:hover { color:#000; text-decoration:underline }


div#tagsFound { margin:0; width:97%; padding:15px; color:#EEE; background:#666; border-bottom:1px solid #666 }
div#tagsFound .tags { padding:10px 10px 0 10px; border:none; line-height:18px }
div#tagsFound ul { margin:0; padding:0; background:#666; border:none }
div#tagsFound li { list-style-type:none; display:inline; padding:5px }
div#tagsFound a { color:#99ccff; font-size:14px; margin:15px 0; font-weight:normal; text-decoration:none }
div#tagsFound a:hover { color:#FFF; text-decoration:none }
div#tagsFound span { color:#99ccff; font-size:12px; font-weight:normal }

table.template { background:url(img/grey_grad_bgr.png) repeat-x top #333; border-top:5px solid #333; border-bottom:1px solid #666 }
table.template th.prod { font-size:23px; font-family:Arial; font-weight:normal; color:#FFF; line-height:27px; padding-left:20px; background:url(img/grey_grad_bgr.png) repeat-x top #333 }

table.template td.menu { font-size:12px; vertical-align:top; padding-left:20px }
.place-order a, .view-orders a { width:150px; height:23px; line-height:23px; font-weight:bold; text-decoration:none; font-size:12px; letter-spacing:0; color:#FFF; text-align:center; background:url(img/template_menu_a_bgr.png) no-repeat top left; display:block; margin-bottom:5px }
.place-order a:hover, .view-orders a:hover { color:#FFF; background:url(img/template_menu_a_bgr.png) no-repeat bottom left; text-decoration:none }

table.template .thumb { display:inline; margin-left:15px; background:none }
table.template .thumb img { border:1px solid #333; margin-bottom:15px }

table.template tr, td { background:none; background-image:none }

div.tags { font-size:13px; margin:10px; overflow:hidden }
div.tags a { color:#99ccff; margin-left:10px; font-weight:normal; text-decoration:none }
div.tags a:hover { color:#FFF; font-weight:normal; text-decoration:underline }

div.tags span { color:#EEE }

.thumb .tags { margin-left:15px }

h1 { color:#99ccff; background:url(img/h1_bgr.png) repeat-y left; font-family:Arial; margin:0; padding:0 10px 0 15px; line-height:49px; font-size:28px; font-weight:normal; border-bottom:1px solid #666; text-decoration:none }
h1 a { color:#99ccff; font-family:Arial; text-decoration:none }
h1 a:hover { color:#FFF; text-decoration:none }

h2.red, span.red, h3.red, h4.red, b.red { color:#99ccff; font-weight:normal; font-family:Arial }

h2.red { line-height:30px; border-bottom:1px solid #666 }

ul.user-catalogues { margin:0; padding:0; clear:both; border-left:1px solid #999 }
ul.user-catalogues li { margin:0; padding:10px; clear:both; list-style-type:none; font-weight:bold; background:url(img/tags_template_li_bgr.png) repeat-x top #333; border-bottom:1px solid #666 }
ul.user-catalogues li:hover { background:url(img/tags_template_li_bgr2.png) repeat-x top #333 }

div#container { padding-left:16em; margin-right:20px }
div#container hr.red { border:none; border-top:2px solid #666; border-bottom:2px solid #666 }
div#container hr.red-bottom { border:none; border-bottom:2px solid #666; clear:both; padding-top:30px }
div#container hr { border:none; border-collapse:collapse; clear:both }

div#menu hr { border:none; border-collapse:collapse; clear:both }

div.content { width:100%; margin:0; padding:0 }
div.content a { text-decoration:none }
div.content a:hover { text-decoration:underline }
div.content .form { margin:0 }
div.content .order { padding:3px 6px; font-size:12px; font-family:Verdana; color:#ffffff; background:#6699cc; border:1px solid #285b8e }

div.content .help { padding:0; margin:0; width:100%; background:url(img/grey_grad_bgr.png) repeat-x top #333333; border-top:1px solid #333; border-bottom:1px solid #666 }
div.content .help p { padding:15px; margin:0 }

.login-page .order { padding:3px 6px; font-size:12px; font-family:Verdana; color:#FFF; background:#6699cc; border:1px solid #285b8e }
.login-page .submit { padding:3px 6px; font-size:12px; font-family:Verdana; color:#FFF; background:#6699cc; border:1px solid #285b8e }
div.content .order { padding:3px 6px; font-size:12px; font-family:Verdana; color:#FFF; background:#6699cc; border:1px solid #285b8e }
input#orderButton { width:76px; height:32px; line-height:32px; font-size:18px; text-align:center; font-family:Verdana; color:#FFF; background:url(img/order_bgr.png) no-repeat top left #FFF; border:none }
div.content .submit { padding:3px 6px; margin-top:5px; font-size:12px; font-family:Verdana; color:#FFF; background:#6699cc; border:1px solid #285b8e }
div.content .preview { width:179px; height:32px; line-height:32px; margin-top:5px; font-size:18px; text-align:center; font-family:Verdana; color:#FFF; background:url(img/preview_bgr.png) no-repeat top left #FFF; border:none }
.pagination .submit-padded-left { background-image:url(img/show_btn.png); width:57px; height:24px; margin:4px 0 4px 10px; font-size:11px; border:none; font-family:Verdana; font-weight:bold; color:#FFF }
input.submit-padded-left { padding:3px 6px; margin:2px 2px 2px 20px; font-size:12px; font-family:Verdana; color:#FFF; background:#6699cc; border:1px solid #285b8e }
input.submit-padded { padding:3px 6px; margin:5px; font-size:12px; font-family:Verdana; color:#FFF; background:#6699cc; border:1px solid #285b8e }


div.order-list-menu { padding:15px; background:url(img/grey_grad_bgr.png) repeat-x top #333; border-top:5px solid #333 }
.order-list-preview img { border:1px solid #999; margin:0 0 0 15px }

div.help h4 { font-family:Arial; font-weight:normal; color:#99ccff; line-height:25px; font-size:18px; padding:15px 0 0 15px; margin:0 }
h3.page-name { font-family:Arial; font-weight:normal; color:#99ccff; line-height:27px; font-size:23px; border-bottom:1px solid #666; padding:5px 0; margin:0 }
h2, h3 { font-family:Arial; font-weight:normal; color:#99ccff; line-height:27px; font-size:23px; border-bottom:1px solid #666; padding:5px 0; margin:0 }

#newFileForm .file { width:210px }
#newFileForm .submit-padded-left { padding:3px 6px; font-size:12px; font-family:Verdana; color:#FFF; background:#6699cc; border:1px solid #285b8e }

div#tagsTemplate { width:95% }
div#tagsTemplate ul { margin:5px 20px 10px 0; padding:0; float:left; width:35%; border-left:1px solid #999 }
div#tagsTemplate li { list-style-type:none; padding:8px; margin:0; border-bottom:1px solid #666; background:url(img/tags_template_li_bgr.png) repeat-x top #333 }
div#tagsTemplate li:hover { background:url(img/tags_template_li_bgr2.png) repeat-x top #333 }
div#tagsTemplate li h2 { padding:0; margin:0; line-height:30px; color:#99ccff; font-family:Arial; font-weight:normal; font-size:20px; border:none; background-image:none }
div#tagsTemplate li div a { color:#FFF; text-decoration:none }
div#tagsTemplate a { color:#99ccff; text-decoration:none }
div#tagsTemplate a:hover { color:#FFF; text-decoration:underline }

div#imageList { padding:0; margin:0 }
#imageList .image-thumb { padding:5px; font-size:12px; border:1px solid #999; background:url(img/grey_grad_bgr.png) repeat-x top #333 }
.image-menu span { padding:0; margin:0 3px 0 3px; line-height:18px; font-weight:bold; font-size:11px; letter-spacing:-1px; font-family:Verdana; color:#99ccff; text-decoration:none }
.image-thumb span.info { padding:0; margin:0 5px 10px 0; line-height:20px }
td.bottom { font-weight:bold; text-align:center }
.image-thumb .img-size { padding:0; margin:2px 5px 0 0 }

th.more-templates { padding:10px 0 10px 0; text-align:center }
th.more-templates a { font-size:20px; font-family:Arial; color:#99ccff; font-weight:bold; text-decoration:none }

div#tags2-wrapper { padding:15px; margin:0; font-size:large; background:#666; border-bottom:1px solid #666 }
div#tags2 { color:#EEE; font-weight:bold }
div#tags2 a { color:#99ccff; font-weight:normal; margin-left:10px; text-decoration:none }
div#tags2 a:hover { color:#FFF; text-decoration:none }

div.image-field { clear:both; margin:0 }
div.image-title { width:98%; font-family:Arial; color:#99ccff; font-size:18px; border-top:1px solid #999; background:url(img/tags_template_li_bgr.png) repeat-x top #333; padding:5px 10px; font-weight:normal; clear:left }
div.image-title span { padding-left:10px; color:#EEE; font-weight:normal; font-size:11px; float:right }

#menuPrinter { width:98%; background:url(img/user_product_li_bgr.png) repeat-x top #666666; border-bottom:2px solid #666; border-top:2px solid #666666; margin:0; padding:5px }
#menuPrinter ul { margin:0; color:#EEE; padding:0; list-style-type:none }
#menuPrinter li { display:inline; padding:0 5px; font-size:0.9em; text-transform:uppercase }
#menuPrinter a { color:#333; text-decoration:none }
#menuPrinter a:hover { color:#000; text-decoration:none }

#idMenuOrders li a { color:#FFF; line-height:30px; padding-left:10px }
#idMenuOrders li a:hover { color:#FFF }

#register div { font-size:12px; line-height:16px; font-weight:bold; padding:0 7px 7px 7px; color:#FFF; border-bottom:2px solid #666 }
#register a { color:#99ccff; font-family:Arial; font-size:18px; line-height:30px; font-weight:normal; margin:10px 0; border:none; text-decoration:none }
#register a:hover { color:#FFF; text-decoration:underline }

div.noprn a { color:#99ccff; text-decoration:none }
div.noprn a:hover { color:#FFF; text-decoration:underline }

.padded-block-left span { color:#FFF; font-weight:bold; text-decoration:none }
.padded-block-left span:hover { color:#000; text-decoration:underline }
.padded-block-left span b { color:#FFF; font-weight:bold; text-decoration:none }
.padded-block-left span b:hover { color:#000; text-decoration:underline }


div.content table.order { width:auto; margin:0; line-height:16px; color:#EEE; background:url(img/grey_grad_bgr.png) repeat-x top #333; border:none }
div.content table.order th { width:auto; text-align:left; background:none }
div.content table.order td { width:auto; padding:5px; background:none }
div.content table.order input { background:#FFF }
div.content table.order textarea { background:#FFF }
div.content table.order select { background:#FFF }


div#msg { text-align:center; padding:10px 25px 10px 30px; margin:0px; background-color:#999; position:relative; left:-1px; z-index:5; border:none }
div#msg h3 { padding:0; margin:0; color:#990000; border:none }
div#msg hr { display:none }


table.form { background:#333; color:#EEE }

a.calm { color:#99ccff; margin-right:10px }
a.calm:hover { color:#FFF; margin-right:10px }
a.calm-padded { color:#99ccff; margin-right:10px }
a.calm-padded:hover { color:#FFF; margin-right:10px }

div#locator {padding:5px 0px 5px 10px; font-size:0.9em; width:100%; border-bottom:3px solid #333; color:#333333; white-space:nowrap }


table.email-list th { padding:3px 15px 3px 3px; border-bottom:1px solid #999; font-size:1.1em; text-align:left; cursor:pointer; white-space:nowrap }
table.email-list a { color:#99ccff; text-decoration:none }
table.email-list a:hover { color:#FFF; text-decoration:underline }
table.email-list tfoot td {text-align:right; font-size:0.8em; border-top:1px solid #999 }
table.email-list tr.active-even { font-weight:bold; background:#333 }
table.email-list a { color:#99ccff; text-decoration:none }

tr.even, td.even { background:#474747 }

table.billing { background:#333 }

div.help { background:#333 }

#order-fs-rego input.order 
{
cursor: pointer; 
width: 70px;
height: 20px;
background-image: url(img/regbtn_bg.png); 
color: white; 
font-size: 1em; 
border:none; 
background-color:transparent;
padding-top:0px; 
padding-bottom:3px; 
}